output
asterisk-gui*
.vscode/
GateworkVOIPProgramming.pdf
integrity-system
*.tgz
VERSION_INFO
K3_config_settings.default
K3_config_settings
releases
logs
cksum_dir/
common/site.priv
save_sounds/
__pycache__/
tests/__pycache__/
