[Unit]
Description=Switch Monitor Script
After=network.target dev-ttyUSB2.device
Requires=dev-ttyUSB2.device

[Service]
Type=simple
WorkingDirectory=/mnt/data
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=PULSE_RUNTIME_PATH=/run/user/1000/pulse
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native
ExecStartPre=/bin/sleep 3
# This was causing problems.
#ExecStartPre=/bin/bash -c 'pkill -f "gpiomon.*gpiochip0.*7" || true'
ExecStart=/mnt/data/switch_mon.sh
User=kuser
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

# Resource limits and security
LimitNOFILE=1024
PrivateTmp=false
PrivateDevices=false

[Install]
WantedBy=multi-user.target

# /etc/systemd/system/switch_mon.service this will be the location of this file.
