[Unit]
Description=Switch Monitor Script
After=network.target dev-ttyUSB2.device
Requires=dev-ttyUSB2.device

[Service]
Type=simple
ExecStartPre=/bin/sleep 3
ExecStart=/mnt/data/switch_mon.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

#/etc/systemd/system/switch_mon.service this will be the location of this file.