[Unit]
Description=PulseAudio Sound Server
After=sound.target

[Service]
# the user number is likely to be 1000 on a fresh Install
#
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStartPre=/bin/mkdir -p /run/user/1000
ExecStart=/usr/bin/pulseaudio --daemonize=no --log-target=journal
Restart=on-failure

[Install]
WantedBy=default.target
